Instructions: 

--- Day 5: Binary Boarding ---

You board your plane only to discover a new problem: you dropped your boarding pass! You aren't sure which seat is yours, and all of the flight attendants are busy with the flood of people that suddenly made it through passport control.

You write a quick program to use your phone's camera to scan all of the nearby boarding passes (your puzzle input); perhaps you can find your seat through process of elimination.

Instead of zones or groups, this airline uses binary space partitioning to seat people. A seat might be specified like FBFBBFFRLR, where F means "front", B means "back", L means "left", and R means "right".

The first 7 characters will either be F or B; these specify exactly one of the 128 rows on the plane (numbered 0 through 127). Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.

For example, consider just the first seven characters of FBFBBFFRLR:

    Start by considering the whole range, rows 0 through 127.
    F means to take the lower half, keeping rows 0 through 63.
    B means to take the upper half, keeping rows 32 through 63.
    F means to take the lower half, keeping rows 32 through 47.
    B means to take the upper half, keeping rows 40 through 47.
    B keeps rows 44 through 47.
    F keeps rows 44 through 45.
    The final F keeps the lower of the two, row 44.

The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

For example, consider just the last 3 characters of FBFBBFFRLR:

    Start by considering the whole range, columns 0 through 7.
    R means to take the upper half, keeping columns 4 through 7.
    L means to take the lower half, keeping columns 4 through 5.
    The final R keeps the upper of the two, column 5.

So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.

Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

Here are some other boarding passes:

    BFFFBBFRRR: row 70, column 7, seat ID 567.
    FFFBBBFRRR: row 14, column 7, seat ID 119.
    BBFFBBFRLL: row 102, column 4, seat ID 820.

As a sanity check, look through your list of boarding passes. What is the highest seat ID on a boarding pass?

In [2]:
puzzle_input = []

with open('puzzle_input') as infile:
    for line in infile: 
        puzzle_input.append(line.rstrip('\n'))

In [1]:
sample_puzzle_input_1 = 'BFFFBBFRRR'
sample_puzzle_input_2 = 'FFFBBBFRRR'
sample_puzzle_input_3 = 'BBFFBBFRLL'

In [5]:
sample_puzzle_input_1[-3:]

'RRR'

In [6]:
def split_rows_columns(input_string):
    
    row = input_string[:7]
    column = input_string[-3:]
    
    return row, column

In [20]:
127/2

63.5

In [25]:
import math

def update_row_range(binary_character, min_row, max_row):
    
    # F means take FRONT, so take lower half
    
    if binary_character == 'F':
        
        max_row = math.floor((max_row + min_row) / 2)
    
    # B means take BACK, so take upper half
    
    elif binary_character == 'B':
        
        min_row = math.ceil((max_row + min_row) / 2)
        
        
    else:
        
        print('SOMETHING WENT HORRIBLY WRONG.')
        
    return min_row, max_row
    

def find_row(row_string):
    
    # change if necessary
    number_of_rows = 128
    
    # set boundaries
    min_row = 0
    max_row = number_of_rows - 1
    
    for binary_character in row_string:
        
        min_row, max_row = update_row_range(binary_character, min_row, max_row)
        
#         print(f'min_row: {min_row}')
#         print(f'max_row: {max_row}')
#         print()
        
    if min_row == max_row:
        
        return min_row
    
    else:
        
        print('SOMETHING WENT HORRIBLY WRONG.')

In [28]:
import math

def update_col_range(binary_character, min_col, max_col):
    
    # L means take LEFT, so take lower half
    
    if binary_character == 'L':
        
        max_col = math.floor((max_col + min_col) / 2)
    
    # R means take RIGHT, so take upper half
    
    elif binary_character == 'R':
        
        min_col = math.ceil((max_col + min_col) / 2)
        
        
    else:
        
        print('SOMETHING WENT HORRIBLY WRONG.')
        
    return min_col, max_col
    

def find_col(col_string):
    
    # change if necessary
    number_of_cols = 8
    
    # set boundaries
    min_col = 0
    max_col = number_of_cols - 1
    
    for binary_character in col_string:
        
        min_col, max_col = update_col_range(binary_character, min_col, max_col)
        
    if min_col == max_col:
        
        return min_col
    
    else:
        
        print('SOMETHING WENT HORRIBLY WRONG.')

In [26]:
test_row, test_column = split_rows_columns(sample_puzzle_input_1)

In [27]:
print(find_row(test_row))

70

In [29]:
print(find_col(test_column))

7

In [34]:
def calculate_seat_ID(input_string):
    
    row_string, column_string = split_rows_columns(input_string)
    
    row, column = find_row(row_string), find_col(column_string)
    
    return (row * 8) + column

In [36]:
print(calculate_seat_ID(sample_puzzle_input_1))
print(calculate_seat_ID(sample_puzzle_input_2))
print(calculate_seat_ID(sample_puzzle_input_3))

567
119
820

In [38]:
id_list = []
for input_string in puzzle_input:
    id_list.append(calculate_seat_ID(input_string))
print(max(id_list))

919

--- Part Two ---

Ding! The "fasten seat belt" signs have turned on. Time to find your seat.

It's a completely full flight, so your seat should be the only missing boarding pass in your list. However, there's a catch: some of the seats at the very front and back of the plane don't exist on this aircraft, so they'll be missing from your list as well.

Your seat wasn't at the very front or back, though; the seats with IDs +1 and -1 from yours will be in your list.

What is the ID of your seat?

In [47]:
import numpy as np

import matplotlib as plt
%matplotlib inline

In [50]:
def return_row_col(input_string):
    
    row_string, column_string = split_rows_columns(input_string)
    
    row, column = find_row(row_string), find_col(column_string)
    
    return row, column

In [51]:
row_col_list = []
for input_string in puzzle_input:
    row, col = return_row_col(input_string)
    row_col_list.append([row, col])

In [53]:
for row_index in range(128):
    for col_index in range(8):
        if [row_index, col_index] not in row_col_list:
            print(f'row: {row_index}, col: {col_index}, id: {(row_index * 8) + col_index}')

row: 0, col: 0, id: 0
row: 0, col: 1, id: 1
row: 0, col: 2, id: 2
row: 0, col: 3, id: 3
row: 0, col: 4, id: 4
row: 0, col: 5, id: 5
row: 0, col: 6, id: 6
row: 0, col: 7, id: 7
row: 1, col: 0, id: 8
row: 1, col: 1, id: 9
row: 1, col: 2, id: 10
row: 1, col: 3, id: 11
row: 1, col: 4, id: 12
row: 1, col: 5, id: 13
row: 1, col: 6, id: 14
row: 1, col: 7, id: 15
row: 2, col: 0, id: 16
row: 2, col: 1, id: 17
row: 2, col: 2, id: 18
row: 2, col: 3, id: 19
row: 2, col: 4, id: 20
row: 2, col: 5, id: 21
row: 2, col: 6, id: 22
row: 2, col: 7, id: 23
row: 3, col: 0, id: 24
row: 3, col: 1, id: 25
row: 3, col: 2, id: 26
row: 3, col: 3, id: 27
row: 3, col: 4, id: 28
row: 3, col: 5, id: 29
row: 3, col: 6, id: 30
row: 3, col: 7, id: 31
row: 4, col: 0, id: 32
row: 4, col: 1, id: 33
row: 4, col: 2, id: 34
row: 4, col: 3, id: 35
row: 4, col: 4, id: 36
row: 4, col: 5, id: 37
row: 4, col: 6, id: 38
row: 4, col: 7, id: 39
row: 5, col: 0, id: 40
row: 5, col: 1, id: 41
row: 5, col: 2, id: 42
row: 5, col: 3, id: 43
row: 5, col: 4, id: 44
row: 5, col: 5, id: 45
row: 5, col: 6, id: 46
row: 5, col: 7, id: 47
row: 6, col: 0, id: 48
row: 6, col: 1, id: 49
row: 6, col: 2, id: 50
row: 6, col: 3, id: 51
row: 6, col: 4, id: 52
row: 6, col: 5, id: 53
row: 6, col: 6, id: 54
row: 6, col: 7, id: 55
row: 7, col: 0, id: 56
row: 7, col: 1, id: 57
row: 7, col: 2, id: 58
row: 7, col: 3, id: 59
row: 7, col: 4, id: 60
row: 7, col: 5, id: 61
row: 7, col: 6, id: 62
row: 7, col: 7, id: 63
row: 8, col: 0, id: 64
row: 8, col: 1, id: 65
row: 8, col: 2, id: 66
row: 8, col: 3, id: 67
row: 8, col: 4, id: 68
row: 8, col: 5, id: 69
row: 8, col: 6, id: 70
row: 8, col: 7, id: 71
row: 9, col: 0, id: 72
row: 9, col: 1, id: 73
row: 9, col: 2, id: 74
row: 9, col: 3, id: 75
row: 9, col: 4, id: 76
row: 9, col: 5, id: 77
row: 9, col: 6, id: 78
row: 9, col: 7, id: 79
row: 80, col: 2, id: 642
row: 115, col: 0, id: 920
row: 115, col: 1, id: 921
row: 115, col: 2, id: 922
row: 115, col: 3, id: 923
row: 115, col: 4, id: 924
row: 115, col: 5, id: 925
row: 115, col: 6, id: 926
row: 115, col: 7, id: 927
row: 116, col: 0, id: 928
row: 116, col: 1, id: 929
row: 116, col: 2, id: 930
row: 116, col: 3, id: 931
row: 116, col: 4, id: 932
row: 116, col: 5, id: 933
row: 116, col: 6, id: 934
row: 116, col: 7, id: 935
row: 117, col: 0, id: 936
row: 117, col: 1, id: 937
row: 117, col: 2, id: 938
row: 117, col: 3, id: 939
row: 117, col: 4, id: 940
row: 117, col: 5, id: 941
row: 117, col: 6, id: 942
row: 117, col: 7, id: 943
row: 118, col: 0, id: 944
row: 118, col: 1, id: 945
row: 118, col: 2, id: 946
row: 118, col: 3, id: 947
row: 118, col: 4, id: 948
row: 118, col: 5, id: 949
row: 118, col: 6, id: 950
row: 118, col: 7, id: 951
row: 119, col: 0, id: 952
row: 119, col: 1, id: 953
row: 119, col: 2, id: 954
row: 119, col: 3, id: 955
row: 119, col: 4, id: 956
row: 119, col: 5, id: 957
row: 119, col: 6, id: 958
row: 119, col: 7, id: 959
row: 120, col: 0, id: 960
row: 120, col: 1, id: 961
row: 120, col: 2, id: 962
row: 120, col: 3, id: 963
row: 120, col: 4, id: 964
row: 120, col: 5, id: 965
row: 120, col: 6, id: 966
row: 120, col: 7, id: 967
row: 121, col: 0, id: 968
row: 121, col: 1, id: 969
row: 121, col: 2, id: 970
row: 121, col: 3, id: 971
row: 121, col: 4, id: 972
row: 121, col: 5, id: 973
row: 121, col: 6, id: 974
row: 121, col: 7, id: 975
row: 122, col: 0, id: 976
row: 122, col: 1, id: 977
row: 122, col: 2, id: 978
row: 122, col: 3, id: 979
row: 122, col: 4, id: 980
row: 122, col: 5, id: 981
row: 122, col: 6, id: 982
row: 122, col: 7, id: 983
row: 123, col: 0, id: 984
row: 123, col: 1, id: 985
row: 123, col: 2, id: 986
row: 123, col: 3, id: 987
row: 123, col: 4, id: 988
row: 123, col: 5, id: 989
row: 123, col: 6, id: 990
row: 123, col: 7, id: 991
row: 124, col: 0, id: 992
row: 124, col: 1, id: 993
row: 124, col: 2, id: 994
row: 124, col: 3, id: 995
row: 124, col: 4, id: 996
row: 124, col: 5, id: 997
row: 124, col: 6, id: 998
row: 124, col: 7, id: 999
row: 125, col: 0, id: 1000
row: 125, col: 1, id: 1001
row: 125, col: 2, id: 1002
row: 125, col: 3, id: 1003
row: 125, col: 4, id: 1004
row: 125, col: 5, id: 1005
row: 125, col: 6, id: 1006
row: 125, col: 7, id: 1007
row: 126, col: 0, id: 1008
row: 126, col: 1, id: 1009
row: 126, col: 2, id: 1010
row: 126, col: 3, id: 1011
row: 126, col: 4, id: 1012
row: 126, col: 5, id: 1013
row: 126, col: 6, id: 1014
row: 126, col: 7, id: 1015
row: 127, col: 0, id: 1016
row: 127, col: 1, id: 1017
row: 127, col: 2, id: 1018
row: 127, col: 3, id: 1019
row: 127, col: 4, id: 1020
row: 127, col: 5, id: 1021
row: 127, col: 6, id: 1022
row: 127, col: 7, id: 1023

There's a jump from row 9 to row 80 and then to row 115, so the missing seat must be row 80, col 2. 
ID: 642.